In [2]:
import pandas as pd

# Create data

In [6]:
data = {
    'Тип судна': ['Пасажирський літак', 'Гелікоптер', 'Дрон', 'Грузовий літак'],
    'Маршрути': ['Внутрішні', 'Міжнародні', 'Регіональні'],
    'Погодні умови': ['Туман', 'Сніг', 'Дощ', 'Шторм', 'Ожеледь', 'Ясно', 'Хмарно'],
    'Трафік': ['Високий', 'Низький', 'Середній'],
    'Надзвичайні ситуації': ['Немає', 'Є']
}

In [7]:
type2emerg = {
    'Пасажирський літак': [True, False],
    'Гелікоптер': [True, True],
    'Дрон': [True, True],
    'Грузовий літак': [True, False]
}
T2E = pd.DataFrame(type2emerg, index=['Немає', 'Є'])

In [5]:
T2E

       Пасажирський літак  Гелікоптер  Дрон  Грузовий літак
Немає                True        True  True            True
Є                   False        True  True           False

In [8]:
type2wether = {
    'Пасажирський літак': [True, True, True, False, True, True, True],
    'Гелікоптер': [False, False, True, False, True, True, True],
    'Дрон': [False, False, False, False, True, True, True],
    'Грузовий літак': [True, True, True, False, True, True, True]
}
T2W = pd.DataFrame(type2wether, index=['Туман', 'Сніг', 'Дощ', 'Шторм', 'Ожеледь', 'Ясно', 'Хмарно'])

In [32]:
T2W

         Пасажирський літак  Гелікоптер   Дрон  Грузовий літак
Туман                  True       False  False            True
Сніг                   True       False  False            True
Дощ                    True        True  False            True
Шторм                 False       False  False           False
Ожеледь                True        True   True            True
Ясно                   True        True   True            True
Хмарно                 True        True   True            True

In [9]:
type2rout = {
    'Пасажирський літак': [True, True, True],
    'Гелікоптер': [True, False, True],
    'Дрон': [True, False, True],
    'Грузовий літак': [True, True, True]
}
T2R = pd.DataFrame(type2rout, index=['Внутрішні', 'Міжнародні', 'Регіональні'])

In [27]:
T2R

             Пасажирський літак  Гелікоптер   Дрон  Грузовий літак
Внутрішні                  True        True   True            True
Міжнародні                 True       False  False            True
Регіональні                True        True   True            True

type2rout = {
    'Внутрішні': [True, True, True, True],
    'Міжнародні': [True, False, False, True],
    'Регіональні': [True, True, True, True]
}
T2R = pd.DataFrame(type2rout, index=['Пасажирський літак', 'Гелікоптер', 'Дрон', 'Грузовий літак'])

In [25]:
T2R

                    Внутрішні  Міжнародні  Регіональні
Пасажирський літак       True        True         True
Гелікоптер               True       False         True
Дрон                     True       False         True
Грузовий літак           True        True         True

# Logic

In [26]:
dataset = {
    'Маршрути': T2R, 
    'Погодні умови': T2W, 
    'Надзвичайні ситуації': T2E
}

In [18]:
T2R

             Пасажирський літак  Гелікоптер   Дрон  Грузовий літак
Внутрішні                  True        True   True            True
Міжнародні                 True       False  False            True
Регіональні                True        True   True            True

In [32]:
input['Маршрути']

'Міжнародні'

In [27]:
T2R.loc[input['Маршрути']]

Пасажирський літак     True
Гелікоптер            False
Дрон                  False
Грузовий літак         True
Name: Міжнародні, dtype: bool

In [46]:
s = T2R.loc['Міжнародні']

In [58]:
l = list(s.index[s])

In [60]:
def product_comp(input, dataset):
    output = list()
    for name, rule in dataset.items():
        series = rule.loc[input[name]]
        temp = list(series.index[series])
        output.append(temp)
    return output

In [13]:
input = {
    'Маршрути': 'Міжнародні',
    'Погодні умови': 'Туман',
    'Трафік': 'Середній',
    'Надзвичайні ситуації': 'Немає'
}

In [61]:
out = product_comp(input, dataset)

In [65]:
porduct_output = list(set.intersection(*map(set, out)))

In [66]:
porduct_output

['Грузовий літак', 'Пасажирський літак']